<h1>Hello, World</h1>
<p>Stories coming soon...<p>

<div>
    <h2>Current time in Tokyo</h2>
    <p><%= ActiveSupport::TimeZone.new('Asia/Tokyo').now %></p><!-- note that the % + = format demarcates ruby code %> ---!>
    <h2>Current time in Los Angeles</h2>
    <p><%= ActiveSupport::TimeZone.new('America/Los_Angeles').now %><p>
</div>
